h1{
    font-family: 'Inknut Antiqua', serif;
    margin-top: 5rem;
    font-size: 26px;
}
h2{
    font-family: 'Inknut Antiqua', serif;
    margin: 5rem;
    font-size: 26px;
}
body{
    font-family: 'Merriweather', serif;
    color: white;
}
nav{
    background-color: #D9D9D9;
    display: flex;
    text-align: center;
    text-decoration: none;
    justify-content: space-evenly;
    padding: 1rem;
}
nav .a{
    font-family: 'Inknut Antiqua', serif;
    color: black;
    text-decoration: none;
    margin: 0 15px;
}
.nav-container{
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
a, .navigation{
    font-family: 'Inknut Antiqua', serif;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
}
.ornament{
    display:flex;
    flex-wrap: wrap;
}
.logo{
    width: 15rem;
    display:flex;
    flex-wrap: wrap;
}
.logo-nav{
    width: 2rem;
}