h1{
    font-family: 'Inknut Antiqua', serif;
    margin-top: 5rem;
    font-size: 26px;
}
h2{
    font-family: 'Inknut Antiqua', serif;
    margin: 5rem;
    font-size: 26px;
}
body{
    font-family: 'Merriweather', serif;
    color: white;
}
nav{
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
nav .a{
    font-family: 'Inknut Antiqua', serif;
    color: black;
    text-decoration: none;
    margin: 0 15px;
}
nav, .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a, .navigation{
    font-family: 'Inknut Antiqua', serif;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'inknut Antiqua', serif;
    font-size: 26px;
}
.nav-item {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}
.nav-item img {
    display: block;
    margin: 10px auto;
}